<%= render 'commons/navbar', shop:@shop%>
<%= render 'commons/sideMenu', shop:@shop %>

<div class="container">
    <h2>Administrador de <%=@shop.name.titleize%></h2>
        <%=link_to 'Gestor de local', shops_manager_path, class:"btn btn-primary"%>
    <%if @shop.places == []%>
        <p>Antes de operar debe terminar de configurar su negocio</p>
        
    <%end%>

<%=link_to 'Configuraciones', shops_configuration_path, class:"btn btn-secondary"  %> 
<%=link_to 'Historial de ventas', bookings_index_path, class:"btn btn-secondary"  %> 


</div>


