
<%= render 'commons/navbar', shop:@shop%>
<%= render 'commons/sideMenu', shop:@shop %>

<div class="container">
<h3>Panel de control</h3>
<div class="d-flex flex-row flex-wrap">
  <div class="m-2 p-5 border">
    <h5>Espacios Generados</h5>
    <%if @shop.places == []%>
        <p>No hay espacios generados, agregue su primer espacio en el siguiente botón:</p>
        
    <%else%>
    <table class="table">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Nombre</th>
      <th scope="col">Descripción</th>
      <th scope="col">Cantidad de mesas</th>
      <th scope="col">Opciones</th>
    </tr>
  </thead>
  <tbody>
  <%@shop.places.each do |place| %>
    <tr>
      <th scope="row"><%=place.id%></th>
      <td><%=place.name%></td>
      <td><%=place.description%></td>
      <td>
        <% if place.tables%>
          <span><%place.tables.length%></span> 
        <%end%>
        <%=link_to 'Modificar', tables_new_path(:place_id => place.id), class:"btn btn-primary"%>
      </td>
      <td>
      <span><%=link_to 'Editar',places_edit_path(:place_id => place.id),class:'btn btn-warning'%></span>
      <span><%=link_to 'Borrar', places_destroy_path(:place_id => place.id),method:'delete',class:'btn btn-danger'%></span>
      </td>
    </tr>

        <%end%>
  </tbody>
</table>
        
    <%end%>
    <%=link_to 'Agregar espacio', places_new_path,class:"btn btn-danger"%>
  </div>
  <div class="m-2 p-5 border">
    <h5>Personal</h5>
    <div>
      <div class="employeers_preview">
        <%@shop.employeers.each do |employeer|%>
          <p><%=employeer.lastName%>, <%=employeer.name%> <%=link_to "Editar", employeers_edit_path(:shop_id => @shop.id, :employeer_id => employeer.id), class:"btn btn-warning"%></p>
          <%end%>
      </div>
      <%=link_to "Agregar",employeers_new_path(:shop_id => @shop.id), class:"btn btn-primary" %>
    </div>
  </div>

<div class="m-2 p-5 border">
    <h5>Productos:</h5>
    <%if @shop.products == []%>
        <p>No hay productos, agregue presiondando el siguiente botón:</p>
        
    <%else%>
    <div class="d-flex flex-wrap">
         <%@products.each do |product|%>
          <div class="card" style="width: 10rem;">
          <div class="d-flex align-self-center justify-content-center">
          <%if product.image.attached?%>
           <%=  image_tag(product.image, :alt => product.name, class:"product_img") %>
           <%end%>
          </div>
           
          <div class="card-body">
            <h5 class="card-title "><%= product.name.capitalize()%></h5>
             
          </div>
          <div class="card-footer ">
            <%=button_to 'Editar', products_edit_path(:product_id => product.id),method:'get', class:'btn btn-warning'%>
            <%=button_to 'Borrar', products_destroy_path(:product_id => product.id),method:'delete', class:'btn btn-danger'%>
             
          </div>
      </div>
      <%end%>
    </div>
    <%end%>
    <%=link_to 'Agregar producto', products_new_path,class:"btn btn-danger"%>
</div>
  <div class="m-2 p-5 border">
    <h5>Categorias:</h5>
      <div>
        <% @shop.categories.each do |category|%>
         <%=link_to category.name.capitalize(), categories_edit_path(:category_id => category.id)%>
      <%end%>
      </div>
      
      <%=link_to 'Administrar categorías', categories_index_path, class:"btn btn-success"%>
  </div>
</div>
<%=link_to 'Volver al administrador', shop_admin_path(@shop.nick),class:'btn btn-secondary' %>
<%=link_to 'Editar comercio', shop_edit_path(@shop.nick),class:'btn btn-alert'%>
</div>