
<div class="container" data-controller = "product_search" >
  <h1>Comercios</h1>

  <div class="search_shops">
    <%=render "orders/searchInput", url:root_path %>
  </div>
  <div class="shops_list">
  <%@shops.each do  |shop| %>
  <div class="card" style="width: 18rem;">
    <%if @shop.logo.attached?%>
      <%= image_tag(@shop.logo, class:"shop_logo-index")%>
    <%end%>
    <div class="card-body">
      <h5 class="card-title"><%=shop.name.titleize()%></h5>
      <%if shop.category%>
        <p class="card-text"><%=shop.category.capitalize() %> local</p>
      <%end%>
       <%= link_to 'Ir al negocio', shop_show_path(shop.nick), class:"btn btn-primary" %>
    </div>
  </div>

  <%end%>
</div>
  <%= link_to 'Registrar mi negocio', shop_new_path, class:"btn btn-danger"%>
</div>
