<%= render 'commons/navbar', shop:@shop%>
<%= render 'commons/sideMenu', shop:@shop %>

<div class="container">
   <ul class="orders_notes">
    <%@shop.orders.each do |order|%>
        <li>
            <div class="stickynote_header" data-controller="kitchen">
                <h2>Orden #<%=order.id%> <span id="prepareCounter" ref='<%=order.created_at.localtime%>' data-kitchen-target="output"> </span></h2>

            </div>
            
            <p><%=order.quantity.to_int%> <%=order.product%></p>
            
        </li>
    <%end%>
    </ul>
</div>