<%= render 'commons/navbar', shop:@shop%>
<%= render 'commons/sideMenu', shop:@shop %>

<div class="container">
<div data-controller="placeSelect" class="border p-4 m-2">
<%if @place != nil %>
  <select data-placeSelect-target="value" class="form-select" aria-label="Default select example" data-action="change->placeSelect#placeLoad">
    <%=@shop.places.each do |place|%>
      <option  value=<%=shops_manager_path(:place_id => place.id)%>  <%=if place.id== @place.id then "selected" end%>><%=place.name%></option>
    
    <%end%>
  </select>

  <p>Descripci贸n: <%=@place.description.capitalize()%></p>

  <%if @tables != []%>
  <div class="manager_view">
    <div class="tables_container">
      <h2>Seleccione mesa en <%=@place.name%>:</h2>
      <div class="table_list">
        <% @tables.each do |table| %>

            <%= link_to table.name, tables_show_path(:place_id => @place.id, :table_id => table.id), class:" table_style #{table.bookings.where(status:'open')==[] ? 'non-active-table' : 'active-table'}" %>

          <%end%>

      </div>
    </div>
    <div>
      <h3>Ordenes listas:</h3>
      <div class="orders_ready-container">
        <%@orders_ready.each do |order|%>
          <%=render "shops/resources/order_ready_item", id: order.id, name: order.table.name%>
        <%end%>
      </div>
    </div>
  </div>
  <%else%>
  <p>No hay mesas creadas en el espacio elegido. </p>
   <%=link_to 'Ir a configuraci贸n',shops_configuration_path, class:'btn btn-danger'%>

  <%end%>
<%else%>
  <h3>No hay espacios activos para mostrar, por favor vaya a configuraci贸n y cree uno</h3>
  <%=link_to 'Ir a configuraci贸n',shops_configuration_path, class:'btn btn-danger'%>
<%end%>
</div>
<%=link_to 'Volver al administrador', shop_admin_path , class:'btn btn-secondary'%>
</div>



