<%= render 'commons/navbar', shop:@shop%>

<div class="container">
<div data-controller="placeSelect" class="border p-4 m-2">
<%if @place != nil %>
  <select data-placeSelect-target="value" class="form-select" aria-label="Default select example" data-action="change->placeSelect#placeLoad">
    <%=@shop.places.each do |place|%>
      <option  value=<%=shops_tables_manager_path(:place_id => place.id)%>  <%=if place.id== @place.id then "selected" end%>><%=place.name%></option>
    
    <%end%>
  </select>

  <p>Descripci贸n: <%=@place.description.capitalize()%></p>

  <%if @tables != []%>
  <h2>Seleccione mesa en <%=@place.name%>:</h2>
  <div class="table_list">
    <% @tables.each do |table| %>
     
        <%= link_to table.name, products_list_modal_path(:place_id => @place.id, :table_id => table.id), remote: true, class:" table_style #{table.bookings.where(status:'open')==[] ? 'non-active-table' : 'active-table'}" %>
      
      <%end%>
      
  </div>
  <%else%>
  <p>No hay mesas creadas en el espacio elegido. </p>
   <%=link_to 'Ir a configuraci贸n',shops_configuration_path, class:'btn btn-danger'%>

  <%end%>
<%else%>
  <h3>No hay espacios activos para mostrar, por favor vaya a configuraci贸n y cree uno</h3>
  <%=link_to 'Ir a configuraci贸n',shops_configuration_path, class:'btn btn-danger'%>
<%end%>
</div>
<%=link_to 'Volver al administrador', shop_admin_path , class:'btn btn-secondary'%>
</div>

<div id="products_list" data-controller="ajax" data-ajax-target="modalContent"></div>
<div id="orders_list"></div>
<div id="product_info"></div>

