<%= render 'commons/navbar', shop:@shop%>
<%= render 'commons/sideMenu', shop:@shop %>

<div class="container">
    <h1>Reserva #<%= @booking.id%></h1>
    <div class="show_board">
        <div>
            <p>Mesa: <%=@table.name%></p>
            <p>Cliente: <%=@booking.user%></p>
            <p>Documento: <%=@booking.dni%></p>
            <p>Teléfono: <%=@booking.phone%></p>
            <p>Email: <%=@booking.email%></p>
            <p>Cliente: <%=@booking.user%></p>
            <p>Fecha: <%=@booking.created_at.localtime%></p>
            <p>Total: $<%=@booking.total%></p>

        </div>
        <div class="orders_table">
            <%= render '/orders/ordersTable', orders:@orders, total: @subtotal, delete:'false'%>
        </div>
    </div>
    <%=link_to 'Volver', bookings_index_path, class:"btn btn-secondary" %>
</div>