
<div class="cards-table">  
          <table class="table">
              <thead>
                <tr>
                  <th scope="col">Cant</th>
                  <th scope="col">Producto</th>
                  <th scope="col">Precio</th>
                  <%if delete == 'true'%>
                    <th scope="col">Estado</th>

                    <th scope="col">Borrar</th>
                  <%end%>
                </tr>
              </thead>
              <tbody>
            
                
              
              <% orders.each do |order|%>
                <%order.items.each do |item|%>
                <tr>
                   <th scope="row"><%=item.quantity%></th>
                   <td><%=item.product.name.capitalize()%></td> 
              
                   <td>
                      <span>$<%=item.product.price*item.quantity%></span>
                   <%if item.quantity > 1 then%>
                    <span>
                      ($<%=item.product.price%> x <%=item.quantity%>)
                    </span>
                    <%end%>
                   </td> 
                   <%if delete == 'true'%>
                   <td><b><%= order.status%></b> en Orden #<%=order.id%></td>
                   <td><%=link_to 'x', items_destroy_path(:item_id=>item.id, :order_id => order.id, :booking_id => @booking.id),method: 'delete', class:'btn btn-danger',data:{confirm: "¿Desea eliminar el producto seleccionado?"}%></td>
                    <%end%>
                </tr>
              <%end%>
              <%end%>
              </tbody>
            </table>
            <hr>
           <p class="text-end fw-bold"><%=delete=='true' ? 'Subtotal' : 'Total'%>: $<%=total%></p> 
        
     
    </div>
  