<div class="container products_search">
  <div >
    
    <% categories.each do |category|%>
      <h5><%=category.name.capitalize()%></h5>
      <%if product.where(:category => category.name) == [] then%>
        <p>No hay coincidencias</p>
      <%else%>
        <% product.where(:category => category.name).each do |product|%>
        <div class="product_card">
          <div >
            <%if product.image.attached?%>
              <%= image_tag(product.image, :alt => product.name, class:"product_img") %>
            <%else%>
              <%= image_tag("food_icon.png", :alt => product.name, class:"product_img") %>
            <%end%>
          </div>

          <div>
            <h5 class="product_card-title "><%= product.name.capitalize()%></h5>
          </div>
          <div >
            <%if (buyable == true) then%>
              <div >
                <%= form_with model:@item, method: 'post', url: items_create_path(:order_id=>@order.id, :product_id => product.id), remote:true do |form| %> 

                  <div class="orders_generator-form">
                    <%= form.number_field :quantity, class:"form-control product_input-quantity", value: 1,min:1 %> 
                    <%= form.submit 'Agregar',class:'btn btn-primary'%>   
                  </div>

                <%end%>
            <%end%>
              </div>

          </div>
        </div>
        <%end%>
      <%end%>
    <%end%>
  </div>
</div>
        