<%= render 'commons/navbar', shop:@shop%>
<%= render 'commons/sideMenu', shop:@shop %>

    <h1>Agregar pedido a la mesa <%= @table.name%></h1>
<div>
    <div class="container row justify-content-around">
        <div class="d-flex ">
          <% @product_list.each do |product|%>
            <div class="card" style="width: 10rem;">
            <div class="d-flex align-self-center justify-content-center">
             <%= image_tag("food_icon.png", :alt => "comida", class:"product_img") %>
            </div>

            <div class="card-body">
              <h5 class="card-title "><%= product.name.capitalize()%></h5>
            </div>
            <div class="card-footer">
              <div >
                <label for="orderQuantity" class="form-label">Cantidad:</label>
                <input type="number" value=1 class="form-control quantity-input" id="orderQuantity">
                <%= link_to "Agregar", orders_create_path(:product_data => product, :place_id =>@place.id, :table_id =>@table.id,:booking_id =>@booking.id), method:'post',class:'btn btn-primary', data:{confirm: "¿Deseas agregar #{product.name} a la mesa #{@table.name}?"} %>
              </div>
        
            </div>
        </div>
        <%end%>
        </div>

</div>
<%= link_to 'Volver a la mesa', tables_show_path(:place_id => @place.id), class:"btn btn-secondary"%>