<%= render 'commons/navbar', shop:@shop%>
<%= render 'commons/sideMenu', shop:@shop %>
<div class="container">
  <h1>Agregar pedido a la mesa <%= @table.name%></h1>

  <div class="order_new_container">
    <div data-controller = "product_search" class="orders_search">

    <%= render 'searchInput'%>
    <%= render 'searchResults', product: @product_list, categories: @categories%>

    </div>
    <div class="orders_preview">

    <%if @order.items == []%>
      <p>Aún no se agregaron productos.</p>

    <%else%>
      <p>Productos agregados actualmente:</p>
      <%=render 'show'%>
    <%end%>
    <%if @order.items != [] then%>
      <%= link_to 'Confirmar pedido', orders_broadcast_path(:place_id => @place.id,:order_id => @order.id),method:"post", class:"btn btn-success"%>
    <%end%>
    <%=link_to 'Cancelar pedido', orders_destroy_path(:order_id => @order.id), method:"delete", class:'btn btn-danger'%>
    </div>
  </div>

  

</div>