<%= render 'commons/navbar', shop:@shop%>
<%= render 'commons/sideMenu', shop:@shop %>


<div class="container mb-3">
    <% if @table.errors.any? %>
    <div id="error_explanation">
      <h5>No se puede guardar la mesa por los siguientes motivos:</h5>

      <ul>
        <% @table.errors.each do |error| %>
        <li><%= error.message %></li>
        <% end %>
      </ul>
    </div>
    <% end %>
<div class="container d-flex justify-content-evenly">
    <div class="d-flex flex-row">
      <div class="m-4 p-5 border">
        <h3>Agregar una mesa:</h3>
        <%= form_with model: @table, method: 'post', url: tables_create_path do |form| %> 
          <%= form.label :name, "Nombre", class:"form-label" %> 
          <%=form.text_field :name, class:"form-control", placeholder:'Ingrese el número de la mesa'%> 
          <%= form.submit 'Crear mesa',class:'btn btn-primary'%>
        <% end %>
      </div>
      <div class="m-4 p-5 border">
      <h3>Agrega un rango de mesas:</h3>
      <%= form_with model:@table, method: 'post', url: tables_batch_create_path do |form| %> 
        <%= form.label :from, "Desde la mesa:", class:"form-label" %>
        <%= form.number_field :from, class:"form-control", placeholder:'Ingrese el número de la primer mesa a agregar'%> 
        <%= form.label :to, "Hasta la mesa:", class:"form-label" %> 
        <%= form.number_field :to, class:"form-control", placeholder:'Ingrese el número de la última mesa a agregar'%> 
        <%= form.submit 'Crear rango de mesas',class:'btn btn-primary'%> 
        <% end %>
      </div>
    </div>
  </div>
  <div class="m-2 p-2 d-flex justify-content-center">
    <div>
      <h4>Mesas activas:</h4>

    <%if @tables != nil %>

    <div class="table_list">
      <% @tables.each do |table| %>
      
        <%=link_to table.name, tables_destroy_path(:table_id =>table.id),method:'delete',data:{confirm:"¿Está seguro que desea eliminar la mesa #{table.name}?"},class:"table_style non-active-table"%>
      
      <%end%>
    </div>
    <%else%>
    <p>No hay mesas creadas en <%=@place.name%>.</p>
    <%end%>
  </div>
    </div>
    
  <%=link_to 'Volver al administrador', shop_admin_path , class:'btn btn-secondary'%>
</div>
