<div class="container mb-3">
<% if model.errors.any? %>
  <div id="error_explanation">
    <h5> No se puede guardar el usuario por los siguientes motivos:</h5>

    <ul>
      <% model.errors.each do |error| %>
        <li><%= error.full_message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= form_with model: model, method: method, url: url do |form| %>

    <%= form.label :name, "Nombre", class:"form-label" %>
    <%= form.text_field :name, class:"form-control"%>
    <%= form.label :lastName, "Apellido", class:"form-label" %>
    <%= form.text_field :lastName, class:"form-control"%>
    <%= form.label :phone, "Teléfono", class:"form-label" %>
    <%= form.phone_field :phone, class:"form-control" %>
    <%= form.label :identification, "Documento", class:"form-label" %>
    <%= form.number_field :identification, class:"form-control" %>
   
    <%= form.submit message, class:"btn btn-primary" %>

  <% end %>
    </div>