

<div class="modal fade" id="products-modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Pedido para mesa <%=@table.name%></h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
      <div  id="modal-container" class="cards-table">
      <%if @state == false %>
      <p>No hay clientes activos. Genere una nueva sesión ;)</p>
      <%else%>
        <% @product_list.each do |product|%>
          <div class="card" style="width: 10rem;">
          <div class="d-flex align-self-center justify-content-center">
           <%= image_tag("food_icon.png", :alt => "comida", class:"product_img") %>
          </div>
           
          <div class="card-body">
            <h5 class="card-title "><%= product.name.capitalize()%></h5>
             <%= link_to 'Más info', product_modal_path(:product_data => product), remote: true, class:"btn btn-primary" %>
             <%= link_to "Agregar", orders_create_path(:product_data => product, :place_id =>@place.id, :table_id =>@table.id), method: :post, confirm: "¿Deseas agregar #{product.name} a la mesa #{@table.name}?" %>
          </div>
      </div>
      <%end%>
     
      <%end%>
    </div>
    
      </div>
      <div class="modal-footer">
      <%if @state == false%>
       <%= button_to 'Abrir cuenta', {:controller => "bookings", :action => "create", :place_id => @place.id, :table_id=> @table.id} , :method=>:post, remote: true, class:"btn btn-warning"  %>
       <%else%>
      <%= link_to 'Ver pedidos', orders_show_path(:table_id => @table.id,:place_id => @place.id), remote: true, class:"btn btn-primary" %>
      <%= link_to 'Cerrar cuenta', bookings_close_path(:table_id => @table.id,:place_id => @place.id), class:"btn btn-danger", :method => :post %>
      <%end%>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
        
      </div>
    </div>
  </div>
</div>