

<div   data-controller="ajax" class="modal fade" id="products-modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Pedido para mesa <%=@table.name%></h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body ">
      <div  id="modal-container" class="cards-table" data-ajax-target="url" ref=<%=products_list_modal_path(:place_id => @place.id, :table_id => @table.id)%>>
      <%if @state == false %>
        <%if @booking != nil%>
          
          <p>Ticket:</p>
            <%=render '/orders/bill', booking: @booking, shop:@shop%>
          <%else%>
            <p>Esta mesa aún no tuvo ventas.</p>
          <%end%>
      <%else%>
      <div class="container row justify-content-around">
        <div class="col-9 modal-orders-body">
          <% @product_list.each do |product|%>
            <div class="card" style="width: 10rem;">
            <div class="d-flex align-self-center justify-content-center">
             <%= image_tag("food_icon.png", :alt => "comida", class:"product_img") %>
            </div>

            <div class="card-body">
              <h5 class="card-title "><%= product.name.capitalize()%></h5>
               <%= link_to 'Más info', product_modal_path(:product_data => product), remote: true, class:"btn btn-secondary" %>
               <%= link_to "Agregar", orders_create_path(:product_data => product, :place_id =>@place.id, :table_id =>@table.id,:booking_id =>@booking.id), method:'post',class:'btn btn-primary', data:{confirm: "¿Deseas agregar #{product.name} a la mesa #{@table.name}?"} %>
            </div>
        </div>
        <%end%>
        </div>
        <div class="col-3">
          <button class="btn btn-secondary" type="button" data-bs-toggle="collapse" data-bs-target=".collapse" aria-expanded="false" aria-controls="customerInfo">
              Datos del cliente
          </button>
          <div class="collapse" id="customerInfo">
            <div class=" d-100">
              <%=render 'bookings/edit', url:bookings_update_path(:table_id => @table.id, :place_id =>@place.id, :booking_id => @booking.id) %>
            </div>
          </div>
        </div>
      </div>
      <%end%>
    </div>
    
      </div>
      <div class="modal-footer">
      <%if @state == false%>
        
       <%= button_to 'Abrir cuenta', bookings_create_path( :place_id => @place.id, :table_id=> @table.id) , method:'post', remote: true, class:"btn btn-warning",data:{confirm:"¿Confirma que desea abrir la sesión en la mesa #{@table.name}?"}  %>
       <%else%>
      <%= link_to 'Ver pedidos', orders_show_path(:table_id => @table.id,:place_id => @place.id, :booking_id => @booking.id), remote: true, class:"btn btn-primary" %>
      <%= link_to 'Cerrar cuenta', bookings_close_path(:table_id => @table.id,:place_id => @place.id), class:"btn btn-danger", :method => :post, data:{confirm:"¿Confirma que desea cerrar la sesión en la mesa #{@table.name}?"} %>
      <%end%>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
        
      </div>
    </div>
  </div>
</div>